* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #051B29;
  padding-bottom: 5px;
}



.logo {
  height: 100px;
  /* Dimensione predefinita */
  max-width: 100%;
}

@media (max-width: 510px) {
  .logo {
    height: 50px;
    /* Logo più piccolo su dispositivi mobili */
  }
}

main {
  height: 100vh;
}